<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:targetApi="31">

        <activity android:name=".main.Activity.Category.AddCategoryActivity"/>
        <activity android:name=".main.Activity.Category.EditCategoryActivity"/>
        <activity android:name=".main.Activity.Recurring.AddRecurringActivity"/>
        <activity android:name=".main.Activity.Tracking.AddTrackingActivity"/>
        <activity android:name=".main.Activity.Recurring.EditRecurringActivity"/>
        <activity android:name=".main.Activity.Tracking.EditTrackingActivity"/>
        <activity android:name=".main.Activity.SettingActivity"/>
<!--        <activity android:name=".main.Activity.LoginActivity"/>-->
        <activity android:name=".main.Activity.RegisterActivity"/>
        <activity android:name=".main.Activity.DashBroadActivity"/>
        <activity
            android:name=".main.Activity.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
